html {
    background-color: #2E5F5F;
}

#myform {   
    border-radius: 2mm;
    border-width: 0mm;
    width: 4in;
    height: 2in;
    background-color: rgb(219, 208, 208);
    color: black;
}

button{
    border-radius: 2mm;
    border-width: 0mm;
    padding: 3mm;
    color: white;
    background-color: black;
}